<!DOCTYPE html>
<html lang="en" xmlns:border="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teamstatus</title>
</head>
<body>
Input new token here:
<form action="/" method="post">
	<input type="text" id="token" name="inputtoken">
	<input type="submit" value="Rerfresh token">
</form>

</body>
</html>

